.nav-toggle {
  display: none;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: none;
  padding: 0;
  display: block;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  cursor: pointer;

  @media #{$tablet} {
    display: block;
    margin-right: 6.5%;
  }
}

.nav-toggle span {
  display: block;
  width: inherit;
  height: 2px;
  background-color: #ffffff;
  transition: background-color 0s 0.3s;

  &::before,
  &::after {
    @include abs(100%, 2px)
    display: block;
    background-color: #ffffff;
    content: '';
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.nav-toggle--open span {
  background-color: transparent;

  &::before,
  &::after {
    transition-delay: 0s, 0.3s;
  }

  &::before {
    top: auto;
    transform: rotate(45deg);
  }

  &::after {
    bottom: auto;
    transform: rotate(-45deg);
  }
}

@keyframes swingdown {
  0% {
    transform: rotateX(180deg);
}

  30% {
    transform: rotateX(90deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: rotateX(60deg);
    animation-timing-function: ease-in-out;
 }

  100% {
    transform: rotateX(0);
    animation-timing-function: ease-in-out;
  }
 }

@media #{$tablet} {
  .nav-toggle + .main-nav {
    opacity: 0;
    height: 0;
  }

  .nav-toggle--open + .main-nav    {
    opacity: 1;
    height: auto;
    animation-name: swingdown;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }
}
