@mixin wrap {
  height: inherit;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // @media #{$mobile} {
  //   max-width: 960px;
  //   margin: 0 auto;
  //   padding-left: 0;
  //   padding-right: 0;
  // }
}

@mixin abs ($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
}

@mixin ul-rst {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin ul-line {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}

@mixin text($font-size, $line-height, $font-color) {
  font-size: $font-size;
  color: $font-color;
  line-height: $line-height;
}

@mixin heading {
  min-height: 56px;
  display: flex;
  margin-bottom: 33px;

  @media #{$mobile} {
    min-height: 40px;
  }
}

@mixin heading-right($bg-color) {
  width: 50%;
  background-color: $bg-color;
  opacity: 0.55;

  @media #{$tablet} {
    display: none;
  }
}

@mixin heading-left($bg-color) {
  font-size: 30px;
  line-height: 55.88px;
  color: $white;
  background-color: $bg-color;
  font-weight: 100;
  margin: 0;
  width: 50%;
  padding-left: 70px;

  @media #{$desktop} {
    font-size: 24px;
  }

  @media #{$tablet} {
    font-size: 20px;
    padding: 0 50px;
    width: 100%;
  }

  @media #{$tablet} {
    font-size: 16px;
  }
}



