$mobile: "(max-width: 500px)";
$tablet: "(max-width: 767px)";
$desktop: "(max-width: 1200px)";

$font-face: 'Century Gothic', 'Tahoma', sans-serif;

$silver: #6a6a6a;
$lightsilver: #787878;
$dimgray: #454545;
$darkslategray: #4c4c4c;
$lightgray: #94999f;
$palegray: #e2e8ea;

$darkpink: #8d5268;
$pinkvalley: #ad4f52;

$blue: #5583d9;
$lightblue: #6699cc;
$turquoise: #6da7b2;

$brown: #5d5050;

$white: #ffffff;
$black: #000000;
